.box {
  background-image: url(./components/img/wallpapersden.com_elden-ring-hd-age-of-stars_2560x1440.jpg);
  max-width: 1550px;
  height: 800px;
  text-align: center;
  background-position: center center;
  background-size: cover;
}


